{{ block "footer" . }}
<nav class="bg-zinc-800 border-t text-white border-gray-200">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 justify-center place-items-center">
    <div class="text-center my-2">
      <h1>TRY DIGITALOCEAN</h1>
      <a
        href="https://www.digitalocean.com/?refcode=10ab746d329a&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
        <img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%202.svg"
          alt="DigitalOcean Referral Badge" />
      </a>
    </div>
    <div class="text-center my-2">
      <h1>SUPPORT ME</h1>
      <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
        data-name="bmc-button" data-slug="huntermotko" data-color="#5F7FFF" data-emoji="☕" data-font="Inter"
        data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff"
        data-coffee-color="#FFDD00"></script>
    </div>
    <div class="text-center my-2">
      <h1 class="col-span-2">ORGANIZATIONS</h1>
      <div class="flex">
        <a class="" target="_blank" href="https://www.hackreactor.com/">
          <img class="contain" height="60" width="60" src="images/hr.svg" alt="Hack Reactor" />
        </a>
        <a class="" target="_blank" href="https://www.qwasar.io/">
          <img class="contain" height="60" width="60" src="images/qwasar.svg" alt="Qwasar Silicon Valley" />
        </a>
        <a class="" target="_blank" href="https://www.nextchapterbk.com/">
          <img class="contain" height="60" width="60" src="images/nch.svg" alt="The Next Chapter" />
        </a>
        <a class="" target="_blank" href="https://www.thelastmile.org/">
          <img class="contain" height="60" width="60" src="images/tlm.svg" alt="The Last Mile" />
        </a>
      </div>
    </div>
  </div>
</nav>
{{ end }}
