{{ block "main" . }}
<main class="h-full mx-auto mb-20 flex font-mono justify-center items-start flex-wrap text-white">
  <img class="rounded" src="images/headshot.jpeg" alt="Personal Head Shot" height="300" width="300" />
  <div class="mx-3 p-2">
    <h1 class="text-5xl text-left my-4">
      Hunter Motko
    </h1>
    <h2 class="text-3xl">
      Full Stack Software Engineer<br>
      Terminal Lover<br />
      Open Source Enthusiast<br />
      Loves Learning<br />
    </h2>
    <div class="w-full flex items-center space-x-6 my-4 rtl:space-x-reverse">
      <a class="" target="_blank" href="https://github.com/hunterMotko">
        <img src="images/github.svg" alt="Github Icon" height="30" width="30">
      </a>
      <a class="" target="_blank" href="https://linkedin.com/in/hunter-motko">
        <img src="images/linkedin.png" alt="LinkedIn Icon" height="40" width="40">
      </a>
      <a class="text-5xl" href="mailto:huntermotko.dev@gmail.com">
        📧
      </a>
    </div>
  </div>
</main>
{{ end }}
