{{ block "main" . }}
<main class="main">
  <img class="headshot" src="images/headshot.jpeg" alt="Personal Head Shot" height="300" width="300" />
  <div class="inner-container">
    <h1 class="name-title">
      Hunter Motko
    </h1>
    <h2 class="position-title">
      Platform &amp; Data Engineering<br>
    </h2>
    <p class="position-sub">
      Ingestion pipelines, APIs, and the deployment around them.<br>
      Go, Python, Postgres. Remote.
    </p>
    <div class="socials">
      <a class="icon" target="_blank" href="https://github.com/hunterMotko">
        <img src="images/github.svg" alt="Github Icon" height="40" width="40">
      </a>
      <a class="icon" target="_blank" href="https://linkedin.com/in/hunter-motko">
        <img src="images/linkedin.png" alt="LinkedIn Icon" height="40" width="40">
      </a>
      <a class="icon" href="mailto:huntermotko.dev@gmail.com">
        <img src="images/mail.svg" alt="LinkedIn Icon" height="50" width="50">
      </a>
    </div>
  </div>
</main>
{{ end }}
