{{ block "tools" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  <title>huntermotko.dev</title>
  <link rel="stylesheet" href="/css/out.css">
</head>

<body>
  <div class="h-full bg-zinc-800 font-mono text-white">
    {{ template "header" . }}
    <main class="p-3">
      <section class="flex justify-between my-3">
        <div class="text-2xl hidden md:block">TOOLS(1)</div>
        <div class="text-2xl">General Tools Manual</div>
        <div class="text-2xl hidden md:block">TOOLS(1)</div>
      </section>
      <section class="my-3">
        <h1 class="text-xl">SYNOPSIS</h1>
        <h2 class="ml-5">Lists of the current tools that I use</h2>
      </section>
      <section class="my-3">
        <h2 class="text-3xl">TERMINAL</h2>
        {{ range .Terminal }}
        <div class="ml-5 my-2">
          <a href="{{ .Link }}" class="uppercase font-bold hover:underline mb-3">
            <h2>{{ .Name }}</h2>
          </a>
          <p class="text-gray-300 ml-5">{{ .Description }}</p>
        </div>
        {{ end }}
      </section>
      <section>
        <h2 class="text-3xl">NEOVIM</h2>
        {{ range .Neovim }}
        <div class="ml-5 my-2">
          <a href="{{ .Link }}" class="uppercase font-bold hover:underline mb-3">
            <h2>{{ .Name }}</h2>
          </a>
          <p class="text-gray-300 ml-5">{{ .Description }}</p>
        </div>
        {{ end }}
      </section>
      <section class="flex justify-between my-3">
        <div class="text-2xl hidden md:block">ubuntu</div>
        <div class="text-2xl">September 03, 2024</div>
        <div class="text-2xl hidden md:block">ubuntu</div>
      </section>
    </main>
    {{ template "footer" . }}
  </div>
</body>

</html>
{{ end }}
