{{ block "tools" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  <title>huntermotko.dev</title>
  <link rel="stylesheet" href="/css/out.css">
</head>

<body class="bg-gray-900">
  <div class="h-screen text-teal-500 container">
    {{ template "header" . }}
    <h1 class="text-4xl text-center my-5 py-3">The current tools that I Like</h1>
    <section class="grid md:grid-cols-2 gap-3 md:gap-5 p-2">
      <div class="mx-3">
        <h2 class="text-3xl">Terminal</h2>
        {{ range .Terminal }}
        <div class="m-2 p-2 border-t">
          <h2>{{ .Name }}</h2>
          <p>{{ .Description }}</p>
          <a href="{{ .Link }}" class="italic underline hover:text-white mb-3">{{ .Link }}</a>
        </div>
        {{ end }}
      </div>
      <div class="mx-2 p-2">
        <h2 class="text-3xl">Neovim</h2>
        {{ range .Neovim }}
        <div class="m-2 p-2 border-t">
          <h2>{{ .Name }}</h2>
          <p>{{ .Description }}</p>
          <a href="{{ .Link }}" class="italic underline hover:text-white">{{ .Link }}</a>
        </div>
        {{ end }}
      </div>
    </section>
  </div>
</body>

</html>
{{ end }}
